﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<form class="form-inline">

    <div class="form-group">
        <label class="sr-only" for="contactFirstName">First Name</label>
        <input type="text" class="form-control" data-bind="value: contactFirstName" id="contactFirstName" placeholder="First name">
    </div>

    <div class="form-group">
        <label class="sr-only" for="contactLastName">Last Name</label>
        <input type="text" class="form-control" data-bind="value: contactLastName" id="contactLastName" placeholder="Last name">
    </div>

    <div class="form-group">
        <label class="sr-only" for="contactPhone">Password</label>
        <input type="text" class="form-control" data-bind="value: contactPhone" id="contactPhone" placeholder="Phone">
    </div>

    <div class="form-group">
        <label class="sr-only" for="contactEmail">Email address</label>
        <input type="email" class="form-control" id="contactEmail" placeholder="Enter email">
    </div>

    <button type="submit" data-bind="click : addPerson" class="btn btn-primary">Create</button>
    <button type="submit" data-bind="click : search" class="btn btn-default">Search</button>
</form>


<table class="table" style="margin-top:20px">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: persons">
        <tr>
            <th scope="row" data-bind=" value: id"></th>
            <td data-bind="text: firstName"></td>
            <td data-bind="text: surname"></td>
            <td data-bind="text: phoneNumber"></td>
            <td><button data-bind="click: $root.removePerson"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tr>
    </tbody>
 </table>

<script type="text/javascript">
    var Person = function(firstName, surname, phone, id) {
        var self = this;
        
        self.firstName = ko.observable(firstName);
        self.surname = ko.observable(surname);
        self.phoneNumber = ko.observable(phone);
        self.id = ko.observable(id);
    };

    var ViewModel = function () {
        var self = this;

        self.contactFirstName = ko.observable("");
        self.contactLastName = ko.observable("");
        self.contactEmail = ko.observable("");
        self.contactPhone = ko.observable("");

        self.persons = ko.observableArray();

        self.addPerson = function () {
            var newPerson = { FirstName: self.contactFirstName(), LastName: self.contactLastName(), PhoneNumber: self.contactPhone() };
            $.ajax({
                type: "POST",
                data: JSON.stringify(newPerson),
                url: "api/person" ,
                contentType: "application/json"
            }).done(function (result) {
                self.persons.push(new Person(newPerson.FirstName, newPerson.LastName, newPerson.PhoneNumber, result.Id));
                self.clearFields();
            });

        };

        self.search = function () {
            $.ajax({
                type: "GET",
                url: "api/person" + "?" + $.param({ "firstName": self.contactFirstName(), "lastName" : self.contactLastName() }) ,
                contentType: "application/json"
            }).done(function (data) {
                self.persons([]);
                $(data).each(function (i) {
                    self.persons.push(new Person(this.FirstName, this.LastName, this.PhoneNumber, this.Id));
                });
                self.clearFields();
            });

        };

        self.removePerson = function (person) {
            $.ajax({
                type: "DELETE",
                url: "api/person" + "?" + $.param({ "Id": person.id() }),
                contentType: "application/json"
            }).done(function (result) {
                self.persons.remove(person);
                self.clearFields();
            });

        };

        self.clearFields = function () {
            self.contactFirstName("");
            self.contactLastName("");
            self.contactPhone("");
        }

        self.search();
    };
 
    ko.applyBindings(new ViewModel());

</script>