﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/knockout-3.4.0.js"></script>

<h2>Capita Lottery Generator UI </h2>


<div class="lottery-set" data-bind="foreach: numbers">
      <span data-bind="text: number, css: color"></span>
</div>

<button data-bind="click: generateLotteryNumbers">Generate Lottery Set</button>

<script type="text/javascript">

    function LotteryViewModel() {
        var self = this;

        self.numbers = ko.observableArray([]);

        self.generateLotteryNumbers = function () {
            self.numbers.removeAll();
            $.getJSON('@Url.Action("GenerateLotterySet", "Home")', function (data) {
                $.each(data, function (index, value) {
                    self.numbers.push({ number: value.Number, color: value.Color });
                });
            })
        };
    }

    ko.applyBindings(new LotteryViewModel());
</script>